---
import { getEntry } from 'astro:content'

const entry = await getEntry("ui", "global");

if (!entry) {
  return Astro.redirect('/404');
}

const { global, contact } = entry.data;

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} {global.license_holder}. All content licensed under <a id="footer-license" href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0<a/>.
	
	<div class="social-links">
		<a href={contact.github} target="_blank">
			<span class="sr-only">See our GitHub repos</span>
			<svg 
				viewBox="0 0 16 16" 
				aria-hidden="true" 
				width="32" 
				height="32" 
				id="social-github"
				><path
					fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
				/>
			</svg>
		</a>
		<a href={contact.instagram} target="_blank">
			<span class="sr-only">Follow us on Instagram</span>
			<svg 
				viewBox="0 0 16 16" 
				aria-hidden="true" 
				width="32" 
				height="32" 
				id="social-instagram"
				><path
					fill="currentColor"
					d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"
				/>
			</svg>
		</a>
		<a href={contact.discord} target="_blank">
			<span class="sr-only">Join our Discord</span>
			<svg 
				viewBox="0 0 16 16" 
				aria-hidden="true" 
				width="32" 
				height="32" 
				id="social-discord"
                ><path 
                    fill="currentColor"
                    d="M13.545 2.907a13.2 13.2 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.833.05.05 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.04.04 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032q.003.022.021.037a13.3 13.3 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019q.463-.63.818-1.329a.05.05 0 0 0-.01-.059l-.018-.011a9 9 0 0 1-1.248-.595.05.05 0 0 1-.02-.066l.015-.019q.127-.095.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.05.05 0 0 1 .053.007q.121.1.248.195a.05.05 0 0 1-.004.085 8 8 0 0 1-1.249.594.05.05 0 0 0-.03.03.05.05 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.2 13.2 0 0 0 4.001-2.02.05.05 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.03.03 0 0 0-.02-.019m-8.198 7.307c-.789 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612"
                />
			</svg>
		</a>
		<a href={contact.terplink} target="_blank">
			<span class="sr-only">Become a member on Terplink</span>
			<svg 
				viewBox="0 0 310 310" 
				aria-hidden="true" 
				width="32" 
				height="32" 
				id="social-terplink"
                ><path 
                    fill="currentColor"
                    d="M134 1.5c0 1.7-.2 1.7-1 .5-.6-.9-1-1-1-.3 0 .6-.9 1-2 .8-1.1-.2-2 .2-2 .8 0 .7-.4.6-1-.3-.7-1.1-1-1.1-1-.2 0 .7-.5 1-1 .7-.6-.4-1.7-.1-2.5.5-1.2 1-1.5 1-1.5-.1 0-1.2-.2-1.2-.9-.1-.4.8-1.1 1.3-1.5 1.3-2.8-.4-4.6.1-4 1 .4.7 0 .9-1.3.5-1.2-.4-2.5-.1-3.2.7-.7.9-2.2 1.2-3.8.9-1.6-.3-2.4-.1-2 .5.4.6-.4 1-1.9 1s-3 .6-3.4 1.3c-.4.6-1 1.1-1.4 1.1-2-.3-2.6 0-2 1.1.5.7.3.8-.5.3-1.1-.6-13.6 4.8-15.1 6.6-.6.7-3.9 1.9-4.5 1.6-.2-.1-1.2.8-2 2.1-.9 1.2-2.1 2-2.6 1.7-.5-.4-.9-.1-.9.4 0 .6-.6 1-1.2.9-.7-.2-1.2.3-1 1 .1.8-.2 1.1-.8.7-.5-.3-1-.1-1 .4 0 .6-.4 1-.9.9-.5-.2-1.7.6-2.6 1.7-.9 1.1-1.3 1.3-.9.5.8-1.5-1.5.4-8.6 7.2-2.1 2-4.1 3.4-4.4 3.1-.5-.6-1 1.2-.7 2.9 0 .4-.6.5-1.3.2-.8-.3-1.7.3-2.1 1.5-.3 1.1-1.5 2.3-2.6 2.6-1 .4-1.7 1-1.4 1.5.3.5-.4 1.4-1.5 2-1.1.6-1.8 1.5-1.5 1.9.3.5-.2 1.2-1.1 1.5-.8.3-1.2 1.1-.8 1.7.4.7.3.9-.3.6-1-.7-4.6 3-4 4.1.5 1-3 4.2-3.8 3.4-.3-.4-.3.1 0 1 .4.9 0 1.8-1 2.2-.9.3-1.3 1-1 1.6.3.5.2 1-.4 1-.5 0-1.3.9-1.6 2-.4 1.1-1.1 1.8-1.6 1.5-.5-.3-.6.1-.3.9.3.9.1 1.6-.6 1.6-.6 0-.8.4-.5 1 .3.5.3 1-.2 1-.4 0-1.3 1.1-2 2.5-.8 1.9-.8 2.4 0 1.9.7-.3.5 0-.4.8-1.5 1.3-3 4-3.5 6.8-.2.8-.8 1.6-1.4 1.8-.5.2-.8.7-.5 1.1.2.5-.5 2.7-1.6 5.1-1.1 2.3-2.1 5-2.2 6.1-.1 1-.8 2.1-1.5 2.4-1.1.4-1.2.8-.2 2 .7.8.8 1.5.3 1.5-.9 0-1.1.6-1.5 5-.1 1.1-.6 2-1.1 2-.4 0-.6.4-.2.9.3.5.1 1.2-.3 1.5-.5.3-.8 1.7-.7 3.1.2 1.4-.2 2.5-.8 2.5-.7 0-.5.5.3 1 1.2.7 1.2 1 .1 1-.7 0-1.1.6-.8 1.5.4.8.2 1.7-.2 1.9-.5.3-.7 1.9-.5 3.6.2 1.7-.1 3-.7 3-.8 0-.7.5.1 1.5.9 1 .9 1.5.1 1.5-.6 0-1.1.5-1.1 1.1 0 .5.4.7 1 .4.6-.4.7.2.1 1.7s-.5 3.1.1 4.2.7 1.6.1 1.3c-.6-.4-1 .7-1.1 2.4 0 2 .3 2.7 1.1 2.2.7-.4.6.1-.2 1-1.1 1.4-1.2 2.3-.2 4.3.6 1.4.7 2.3.3 2-.5-.3-.9.8-.9 2.4 0 1.6.3 2.7.6 2.5.4-.2.6 1.9.5 4.6 0 2.7.2 4.9.5 4.9s.7 1.9.8 4.1c.2 2.3.8 4.9 1.5 5.7.7.9.8 1.3.2.9-.6-.3-1.1 0-1.1.8s.4 1.2.9.9c.4-.3.8.8.8 2.4 0 1.6.3 3.2.7 3.6.4.3.8 1.4.9 2.4.2 2.6.8 4.7 1.5 5.2.4.3.9 1.8 1 3.5.2 1.6.9 3.6 1.6 4.3.7.7.9 2 .6 2.9-.4 1.1-.3 1.4.5.9.8-.5 1.2 0 1.2 1.3 0 1.2.4 2.1 1 2.1.5 0 .7.7.4 1.5-.4.8-.1 1.5.7 1.5.7 0 .9.3.6.7-.4.3.1 1.2 1.1 2 1.1 1 1.2 1.2.2.8-1.2-.5-1.2-.4.1.7.9.7 1.4 1.8 1.2 2.4-.2.6.3 1.7 1.2 2.4.8.7 1.5 1.9 1.5 2.6 0 .8.5 1.4 1.1 1.4.6 0 .8.7.5 1.5-.3.9.1 1.8.8 2.1.8.3 2.2 2.1 3.1 4 .9 1.9 2.1 3.4 2.7 3.4.6 0 .8.3.5.6-.4.4.1 1.4 1.1 2.3 1 .9 2.1 2.4 2.5 3.4.4 1 1.1 1.5 1.7 1.2.6-.4.7.1.3 1.1-.4 1.2-.3 1.5.5 1 .7-.4 1.2-.2 1.2.4 0 .6.4.9.9.6.5-.4.7.3.4 1.4-.3 1.2-.2 2 .3 1.9 2-.3 3.5.2 3 1-.3.5.5 1.6 1.9 2.5 1.4.9 2.5 2.3 2.5 3.1 0 .8.4 1.4.8 1.3.4-.2 2 .9 3.5 2.4 1.5 1.6 3.2 2.8 3.7 2.8.6 0 .9.5.8 1.2-.2.7.4 1.2 1.2 1.3.8.1 1.4.7 1.2 1.4-.1.7.1 1 .6.7.4-.2 2.3.9 4.1 2.5 1.8 1.6 3.7 2.6 4.1 2.4.5-.3 1.2 0 1.6.6.4.8.3.9-.4.5s-1.2-.5-1.2-.2c0 1 5.8 3.5 6.5 2.8.5-.4.5-.1.1.5-.4.8-.1 1.3.8 1.3s1.6.4 1.6.9c0 .8 2.1 1.7 4.4 1.9.5 0 1.3.7 1.8 1.6.5.9 1.3 1.4 1.7 1.1.5-.2 1.4.2 2.1 1 .7.8 2.1 1.5 3.1 1.5 1.1 0 1.9.4 1.9 1 0 .5.9 1 2 1s2 .5 2 1.1c0 .5.3.8.8.5.4-.2 2.5.4 4.7 1.4 2.2 1 4.3 1.6 4.7 1.4.5-.3.8 0 .8.6s.5.8 1 .5c.5-.3 1 0 1 .7 0 .9.3.9 1-.2.5-.8 1-1 1-.4 0 .7.7 1.5 1.6 1.8.9.3 1.2.2.8-.5-.4-.7 0-.7 1.5 0 5.6 2.9 5.9 2.9 7.1 1.8 1-.9 1.1-.9.5.2-.6 1.1-.4 1.3.8.8 1-.3 1.7-.2 1.7.3s.7.7 1.5.4c.9-.4 1.5 0 1.5.7 0 1.1.2 1.1.9 0 .8-1.2 1.2-1.2 2.5-.2.8.7 2 1 2.6.6.5-.3 1 0 1 .7 0 .9.3.9 1-.2.5-.8 1-1 1-.4 0 1.8 39 1.9 39 .2 0-.8.3-.9.8-.3 1 1.4 3.9 1.8 4.7.6.3-.6 1.3-.7 2.2-.4 1.1.4 1.4.3.9-.6-.9-1.4 1.6-1.1 2.6.4.5.6.8.6.8-.1 0-.6 2.2-1.4 4.9-1.8 2.7-.4 5.2-1.2 5.4-1.9.4-.9.6-.9.6.1.1 1 .5 1 1.6-.2.9-.8 2.2-1.3 3-1 .8.4 1.5.1 1.5-.6 0-.6.5-.8 1-.5.6.4 1.7.1 2.5-.5s1.9-.9 2.5-.5c.5.3 1 .1 1-.5s.5-.8 1-.5c.6.3 1 .1 1-.6s.3-.9.7-.6c.3.4 1.1.3 1.7-.2.6-.5 2.8-1.4 4.9-2.1 2-.6 3.5-1.5 3.3-1.9-.3-.4 0-.8.7-.8 2.1-.1 4.2-.8 4.8-1.6.3-.5 1.5-1 2.5-1.1 1-.2 1.9-.8 1.9-1.4 0-.6.4-1.4.9-1.9s.6-.3.2.4c-.4.7-.2 1.3.3 1.3.6 0 1.1-.4 1.1-.9s1.6-1.5 3.4-2.2c1.9-.7 3.3-1.6 3-2-.2-.4.5-1 1.6-1.4 1.1-.3 2-1.1 2-1.6 0-.6.4-.8.9-.5.5.3 1.2-.1 1.5-1 .4-.9.9-1.4 1.2-1.1.3.3 1.7-.6 3-2s2.4-2.3 2.4-1.9c0 .3 1.6-1 3.5-3 1.9-1.9 3.9-3.3 4.5-2.9.6.4.7-.1.3-1.1-.4-1.1-.2-1.5.4-1.1.5.3 1.6-.5 2.3-1.8.7-1.3 1.7-2.2 2.2-1.9.4.3.8-.2.8-1.1 0-.9.5-1.3 1-1 .6.3 1 .1 1-.5s1.4-2.4 3-4c1.7-1.6 3-3.4 3-4 0-.6.5-.8 1-.5.6.3 1 0 1-.8 0-.7 1-2.4 2.3-3.7 1.2-1.4 2.1-2.8 1.9-3.2-.1-.5.3-.8.9-.8.5 0 .7-.4.4-1-.3-.5-.2-1 .4-1 .6 0 1.8-1.6 2.7-3.5.9-1.9 2.1-3.5 2.6-3.5s.6-.4.3-1c-.3-.5-.3-1 .2-1 .4 0 1.5-1.5 2.2-3.2.8-1.8 2.2-3.9 3-4.6 1.3-1.1 1.3-1.2.1-.6-1 .5-.8-.1.5-1.6s1.5-2.1.5-1.6c-1.2.6-1.1.4.1-.6.9-.7 1.5-2.1 1.3-3.1-.1-.9.2-1.5.7-1.1.5.3 1 0 1-.5.3-2 .4-2.6 1-3.6.4-.6.5-1.8.4-2.8-.2-.9.1-1.5.6-1.1.5.3 1-.2 1-1 .1-1.6.4-2.8.9-4.4.1-.4.2-1 .1-1.5 0-.4.4-.7 1-.7s.9-.7.5-1.5c-.3-.8-.1-1.5.4-1.5s.7-.9.5-2c-.2-1.1 0-2 .5-2 .4 0 .7-1.1.6-2.4-.2-1.5.3-2.7 1.2-3.1 1.1-.4 1.2-.8.3-1.9-.7-.9-.8-1.7-.2-2 .5-.3.8-2.6.7-5-.1-2.5.2-4.2.6-4 .4.3.8-9 .8-20.5 0-16.2-.3-21.1-1.2-21.1-.9 0-.8-.4.2-1 1.3-.9 1.3-1 0-1-1.2 0-1.2-.2-.1-.9 1-.6 1-1 .1-1.6-.6-.4-.9-1.3-.6-2.1.3-.7.1-1.6-.5-2-.6-.4-.5-1.2.3-2.2.8-.9.8-1.3.2-.9-1.4.8-2.6-1.7-1.8-3.8.4-.8.2-1.5-.3-1.5s-1-1.4-1.1-3.2c-.2-1.8-.7-3.5-1.3-3.9-.6-.3-1-.9-1-1.3.3-2.3 0-3-.8-1.8-1.1 1.8-6.4 4.6-5.5 2.9.4-.7-.3-.2-1.5 1.1-2 2-2.8 2.4-4.8 2.1-.3 0-1 .6-1.5 1.5s-1.6 1.6-2.3 1.6c-.8 0-1.5.5-1.5 1 0 .6-.6.9-1.2.8-.7-.2-1.2.2-1.1.9.2.7-.3 1-1.1.7-.8-.3-2.4.4-3.5 1.5-1.2 1.2-2.2 2-2.4 1.8-.6-.4-8 3.7-10.1 5.5-1 1-2.3 1.5-2.8 1.2-.4-.3-.8 0-.8.6s-.4.8-1 .5c-.5-.3-1-.1-1 .4 0 .6-.7 1.1-1.5 1.1s-1.5.4-1.5 1c0 .5-.6 1-1.3 1-.7 0-2.3.9-3.5 2-1.4 1.4-2.2 1.6-2.2.8-.1-.7-.6-.3-1.3 1-1 1.8-1.5 2-2.6 1s-1.2-1-.7-.1c.4.8.1 1.3-.8 1.3s-1.6.5-1.6 1.1c0 .5-.4.7-1 .4-.5-.3-1-.1-1 .4 0 .6-.5 1.1-1.1 1.1-.6 0-1.7.7-2.5 1.5-.9.8-2.4 1.5-3.5 1.5s-1.8.4-1.5.9c.3.5-.4 1.1-1.7 1.5-3.2.8-3.1.7-4.4 2.5-.7.9-1.3 1.2-1.3.7s-1.2.1-2.7 1.5c-1.4 1.3-2.2 1.8-1.8 1 .5-.8-.8-.2-2.8 1.3-2 1.6-3.5 3.2-3.2 3.6.3.5.1 1.1-.4 1.4-.4.3-.8 1.7-.8 3.2 0 1.4-.5 2.9-1.1 3.3-.6.3-.9 1.9-.8 3.4.2 1.5-.1 2.7-.6 2.7-.6 0-.7.7-.4 1.6.3.8.2 1.3-.3 1-.4-.3-.8.8-.9 2.5 0 1.7-.6 3.7-1.2 4.4-.7.8-.9 1.9-.5 2.5.3.5.2 1-.2 1-.5 0-1 1.1-1.1 2.5-.5 5.7-.7 6.5-1.5 6.5-.4 0-.5.4-.2 1 .3.5.2 1-.2 1-.5 0-.9.8-1 1.7-.3 2.8-1 6.8-1.2 6.8-.3 0-1.1 3.4-1.3 5.7-.1 1-.6 1.8-1.1 1.8-.5 0-.7.7-.3 1.5.3.8.2 1.5-.3 1.5s-.7 1.1-.6 2.5c.2 1.4-.1 2.5-.7 2.5s-.8.9-.5 2c.3 1.1.1 2-.5 2-.5 0-.7.4-.3.9.3.5.1 1.2-.5 1.6-.6.4-.8 1.1-.5 1.6.4.5 0 .9-.7.9-1.1 0-1 .2 0 .9 1.1.7 1.1.9-.1 1.4-1 .4-1.3 1.4-.9 3.3.3 1.8.1 2.5-.6 2-.8-.4-1-.2-.6.7.3.8-.2 2.2-1.1 3-.9.9-1.5 1.9-1.5 2.2 0 .3-.4 1.3-.9 2.3-.6.9-1.1 1.3-1.1.9s-.6-.2-1.4.5c-.8.7-1.2 1.6-.9 2 .2.5-.3.8-1.1.8-.9 0-1.6.5-1.6 1.1 0 .6-.7.9-1.5.5-.8-.3-1.4 0-1.2.6.1.6-.4 1.3-1.2 1.6-.9.3-1.1 0-.6-.9.5-.8 0-.7-1.1.3-1.2 1.1-3.7 1.8-6.5 1.8-6.8.1-7.9-.2-7.9-2.2 0-1-.4-1.8-.9-1.8s-1.2-1.3-1.6-3c-.4-1.6-1.1-2.8-1.7-2.7-.6.1-1.3-.4-1.6-1.2-.3-.9 0-1.1.9-.7.8.4.6.1-.3-.7-1-.8-1.8-1.9-1.8-2.6 0-.6-.5-1.1-1.1-1.1-.5 0-.7-.5-.4-1 .3-.6.1-1-.4-1-.6 0-1.1-.6-1.1-1.4 0-.7-.7-1.9-1.5-2.6-.9-.7-1.4-1.9-1.1-2.7.3-.7-.1-1.3-.9-1.3s-1.4-.3-1.3-.7c.2-1-1.4-4.7-2.2-5.3-.4-.3-1.8-2.5-3-5s-2.6-4.7-3.1-5c-.4-.3-.9-1.2-1.1-2-.2-.8-1.2-2.3-2.2-3.2-1.4-1.3-1.5-1.8-.5-1.8 1-.1.9-.4-.3-1.1-1-.5-1.8-1.7-1.8-2.5 0-.9-.5-1.2-1.2-.8-.7.4-1 .4-.6-.1.4-.4.2-1.5-.5-2.3-1-1.3-.9-1.5.3-.8 1 .5.9.3-.2-.6-.9-.8-1.8-2.1-2-2.9-.2-.7-.8-1.8-1.5-2.4-.7-.5-1.3-1.7-1.5-2.5-.2-.8-1-2.1-1.8-2.8-1.3-1.2-1.3-1.3 0-.7.8.4.6-.1-.4-.9-1.1-.9-1.6-1.6-1-1.6.5 0 .1-.5-.8-1.1-1-.5-1.8-1.8-1.8-2.8 0-.9-.9-2.7-1.9-3.8-1.1-1.2-1.7-2.4-1.4-2.7.4-.3.1-.6-.6-.6s-.9-.5-.6-1c.3-.6.1-1-.4-1-.6 0-1.1-.7-1.1-1.6 0-.8-.4-1.3-.8-1-.4.2-.9-.5-.9-1.7-.1-1.2-.7-2.3-1.3-2.5-.5-.2-1-1-1-1.8s-.5-1.4-1.1-1.4c-.6 0-.8-.7-.5-1.5.3-.9-.1-1.8-.9-2.1-1.4-.6-3.1-4.1-2.7-5.6.1-.5-.4-.7-1-.5-.7.1-1.4-.8-1.6-2.1-.2-1.2-.7-2.2-1.1-2.2-.4 0-1.3-1.6-2.1-3.5s-1.8-3.5-2.2-3.5c-.5 0-.7-.4-.4-.8.3-.5-.6-2-1.9-3.4-1.3-1.4-2.1-2.9-1.7-3.3.4-.3-.1-1.1-1.1-1.6-.9-.6-1.7-1.7-1.7-2.4 0-.8-.5-1.5-1.1-1.5-.5 0-.8-.4-.4-.9.3-.5-.2-1.6-1-2.4-.8-.9-1.5-2.3-1.5-3.1 0-.9-.4-1.6-.9-1.6s-1.7-1.8-2.7-4c-1-2.2-2.2-4-2.7-4-.4 0-.5-.5-.2-1 .3-.6.1-1-.5-1s-.9-.4-.6-.9c.3-.5-.1-1.4-.9-2.1-.8-.7-1.5-1.9-1.5-2.6 0-.8-.4-1.4-1-1.4-.5 0-1-.7-1-1.5s-.5-1.5-1.2-1.5c-.6 0-.4-.7.5-1.8 1-1 1.4-2.2 1-2.5-.3-.4.6-1.8 2-3.1s2.4-2.5 2.2-2.7c-.1-.2 1.5-1.7 3.7-3.2 2.2-1.6 3.7-2.3 3.3-1.7-.4.7.4.5 1.8-.5 3.1-2 14.3-3.2 13.2-1.4-.6.8-.2.8 1.4 0 1.1-.7 2.1-.8 2.1-.3 0 .4.8.9 1.8 1 4.9.6 5.7.8 6.3 1.5.3.4 1.9 1 3.5 1.2 1.6.2 2.9.4 2.9.5 0 .1 1.3.4 2.9.6 1.6.2 3.2.8 3.6 1.4.4.7 1 1.1 1.4 1.1 3-.4 6.6.1 6.1.8-.3.6.4.8 1.5.6 1.1-.2 2 .2 2 .8 0 .7.4.6 1-.3.7-1.2 1-1.2 1-.1 0 .7.6 1.1 1.3.8.7-.3 2.1.1 3.1.8 1 .8 2.3 1.2 3 .9.7-.3 2.8.2 4.7.9 1.8.8 4 1.2 4.7 1 .6-.3 1.2.1 1.2.7 0 .7.7 1 1.5.7.8-.4 1.7-.2 2 .3.3.5 1.4.7 2.5.5 1.1-.2 2 0 2 .6 0 .5 1 .9 2.3.9 1.3 0 2.9.6 3.6 1.2 1.1 1 1.3 1 .7 0-.9-1.5.6-1.6 2.2 0 .6.6 2 1.3 2.9 1.4 1 .2 3 .5 4.6.8 2.9.4 8.7-1.9 8.7-3.5 0-.5.3-.9.8-.8 1.5.2 5.2-1.4 5.2-2.2 0-.5.7-.9 1.5-.9.9 0 1.8-.7 2.1-1.5.4-.8 1-1.3 1.4-1 1.1.7 6.1-2 5.3-2.8-.6-.6 1.2-1.1 3-.8.4 0 .7-.4.7-1 0-.5.5-.7 1-.4.6.3 1 .1 1-.5s.5-.8 1-.5c.6.3 1 0 1-.8 0-.7.7-1.4 1.5-1.5.8-.1 2.2-.3 3-.4.8-.1 1.3-.4 1.1-.7-.2-.3.2-1.2 1-1.9 1.1-1 1.4-1 1.4 0 0 .8.5.6 1.1-.5.5-.9 1.6-1.7 2.4-1.7.7 0 2-.6 2.7-1.3.7-.7 2.6-1.8 4.1-2.5 1.5-.6 2.5-1.7 2.2-2.2-.3-.6.1-.7.9-.4.9.4 1.6.1 1.6-.6s.7-1 1.5-.6c.9.3 1.8-.1 2.1-.9.4-.8 1-1.3 1.4-1 .4.3 1.1-.2 1.4-1.1.3-.8 1-1.3 1.6-.9.5.3 1.8-.3 3-1.5 1.1-1.1 2-1.7 2-1.4 0 .4.7.1 1.5-.6.8-.6 2-.8 2.6-.4.8.5.9.3.5-.5-.5-.8 0-1.4 1.3-1.8 1.2-.3 2.1-1 2.1-1.5s.5-.6 1-.3c.6.3 1 .1 1-.5s.4-.9.8-.6c.5.3 1.8-.3 2.8-1.2 2.1-2 5.4-3.6 6.7-3.3.4.1.7-.6.5-1.6-.3-1.8-5.2-7.3-6.5-7.3-.4 0-1.9-1.6-3.3-3.5s-3.1-3.2-3.8-3c-.7.3-1.1.1-.8-.4.6-1-4-5.2-4.8-4.4-.3.3-.8-.2-1.2-1.1-.3-.9-1.2-1.6-2-1.6s-1.4-.5-1.4-1c0-.6-.6-1-1.3-1-.7 0-2-.9-3-2-.9-1.1-2.2-2-2.9-2-.7 0-2.6-1.1-4.2-2.5-1.6-1.3-3.3-2.2-3.7-1.9-.5.3-.9.1-.9-.3 0-1-8.3-5.3-10.1-5.3-.6 0-1.7-.7-2.6-1.6-.9-.8-2.2-1.3-3-1-.7.3-1.6-.1-1.9-.9-.4-.8-.9-1.3-1.3-1-.4.2-1.8-.2-3.2-.9-1.3-.7-3-1.1-3.7-.8-.6.2-1.2-.1-1.2-.8 0-.6-.4-.9-.9-.5-.5.3-1.2.1-1.6-.4-.3-.6-1.2-.8-2-.4-.8.3-1.5.1-1.5-.4s-.8-.9-1.7-1c-2.5-.1-6.5-1.1-7.1-1.8-.3-.2-1.2.1-2 .8-1.3.9-1.4.9-.8-.1.5-.8.1-1.2-1.3-1.2-1.1 0-2.3-.5-2.6-1-.4-.7-1.2-.7-2.5 0s-2.1.7-2.5 0c-.4-.6-1.4-1-2.3-.8-1 .1-2.3-.1-2.9-.5-.8-.5-1.3-.4-1.3.3s-.6.8-1.7.2c-1-.5-6.7-.9-12.6-1-8.4-.2-10.7.1-10.1 1 .6 1 .4 1-.8 0-1.1-.9-1.8-1-2.3-.2-.3.6-1.2.7-1.8.3-1.8-1.1-3.8-1.2-3.1-.1.8 1.2-2.9.6-3.8-.7-.4-.6-.8-.1-.8 1z"
				/>
			</svg>
		</a>
		
        <a href={contact.email} target="_blank">
			<span class="sr-only">Reach us by Email</span>
			<svg 
				viewBox="0 0 16 16" 
				aria-hidden="true" 
				width="32" 
				height="32" 
				id="social-email"
				><path
					fill="currentColor"
					d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"
				/>
			</svg>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: var(--gray-light);
		color: var(--gray);
		text-align: center;
		font-size:smaller;
		box-shadow: 0 -2px 8px rgba(from var(--black) r g b / 0.1)
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: var(--gray);
	}
	a, div a svg {
		transition: all 0.2s ease-in-out;
	}
	#social-github:hover {
		color: #000000;
	}
	#social-instagram:hover {
		color: #C13584;
	}
    #social-discord:hover {
        color: #7289da;
    }
	#social-terplink:hover {
		color: #36b649;
	}
	#social-email:hover {
		color: var(--black);
	}
	#footer-license {
		text-decoration: none;
		color: var(--gray);
	}
	#footer-license:hover {
		color: var(--black);
	}
</style>
